html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.example-button {
  background-color: lightyellow;
  color: lightslategray;
  font-size: 1.5vw;
  border-radius: 0.4rem;
  border: none;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
}
